<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app"></div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    inputValue: '',
                    list: [1, 2, 3],
                    imageList: [{
                        title: '1.jpg',
                        src: './images/1.jpg',
                    }, {
                        title: '2.jpg',
                        src: './images/2.jpg',
                    }, {
                        title: '3.jpg',
                        src: './images/3.jpg',
                    }, ],
                }
            },
            methods: {
                handleAdd() {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                },
            },
            template: `
        <div>
            <input v-model="inputValue"/>
            <button v-on:click="handleAdd" v-bind:title="inputValue">增加</button>
            <url>
                <todo-item v-for="(item,index) of list" v-bind:content="item" v-bind:index="index"/>
                <image-card v-for="(item,index) of imageList" v-bind:src="item.src" v-bind:title="item.title"/>   
            </url>
        </div>
        `,
        })

        app.component('todo-item', {
            props: ['content', 'index'],
            template: `<li>{{ index }}----{{ content }}</li>`,
        })

        app.component('image-card', {
            props: ['src', 'title'],
            template: ` <img :src="src" style="height:200; width=200;"/> 
                        <h1>{{ title }}</h1>
            `,
        })

        app.mount('#app')
    </script>
</body>

</html>